[submodule "core"]
	path = core
	url = https://github.com/nexical/app-core.git
[submodule "packages/generator"]
	path = packages/generator
	url = https://github.com/nexical/generator.git
[submodule "packages/agent"]
	path = packages/agent
	url = https://github.com/nexical/agent.git
[submodule "packages/reskill"]
	path = packages/reskill
	url = https://github.com/nexical/reskiller.git
[submodule "apps/backend/modules/user-api"]
	path = apps/backend/modules/user-api
	url = https://github.com/nexical-modules/user-api.git
[submodule "apps/backend/modules/user-email"]
	path = apps/backend/modules/user-email
	url = https://github.com/nexical-modules/user-email.git
[submodule "apps/backend/modules/orchestrator-api"]
	path = apps/backend/modules/orchestrator-api
	url = https://github.com/nexical-modules/orchestrator-api.git
[submodule "apps/frontend/modules/user-ui"]
	path = apps/frontend/modules/user-ui
	url = https://github.com/nexical-modules/user-ui.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/nexical/cli.git
