services:
  postgres:
    extends:
      file: compose.db.yml
      service: postgres

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    user: '${UID:-1000}:${GID:-1000}'
    volumes:
      - ./:/app
      - /app/node_modules
    command: [ '/bin/sh', '-c', './docker/entrypoint.sh npm run setup && npm run dev:ui -- --host' ]
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      AUTH_SECRET: ${AUTH_SECRET}
      AUTH_TRUST_HOST: 'true'
      ROOT_USER_NAME: ${ROOT_USER_NAME}
      ROOT_USER_EMAIL: ${ROOT_USER_EMAIL}
      ROOT_USER_DEFAULT_PASSWORD: ${ROOT_USER_DEFAULT_PASSWORD}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      EMAIL_FROM: ${EMAIL_FROM}
      PUBLIC_SITE_URL: 'http://localhost:3000'
      AUTH_URL: 'http://localhost:3000'
      NODE_ENV: development
    ports:
      - '3000:4321'
    depends_on:
      postgres:
        condition: service_healthy

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    user: '${UID:-1000}:${GID:-1000}'
    volumes:
      - ./:/app
      - /app/node_modules
    command: [ '/bin/sh', '-c', './docker/entrypoint.sh npm run setup && npm run dev:api -- --host' ]
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      AUTH_SECRET: ${AUTH_SECRET}
      AUTH_TRUST_HOST: 'true'
      ROOT_USER_NAME: ${ROOT_USER_NAME}
      ROOT_USER_EMAIL: ${ROOT_USER_EMAIL}
      ROOT_USER_DEFAULT_PASSWORD: ${ROOT_USER_DEFAULT_PASSWORD}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      EMAIL_FROM: ${EMAIL_FROM}
      PUBLIC_SITE_URL: 'http://localhost:8080'
      AUTH_URL: 'http://localhost:8080'
      NODE_ENV: development
      PRISMA_FORCE_PUSH: 'true'
    ports:
      - '8080:4321'
    depends_on:
      postgres:
        condition: service_healthy
